body
{
    background: #333;
    font-family: Arial;
    font-size: 12px;
    
}
#elementos
{
	background-color: white;
	float:right;
	width: 50%;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid black;
}

#torta
{
    height: 400px;                
    width: 40%;
    border: 2px solid black;
    float:left;
    padding: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 5px;
}

button, #nomTabla, #numTabla
{
	width: 100%;
}